.rounded {
	border-radius: 50%;	
}

.scroll-bottom-wrapper {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.discussion {
	list-style: none;
	background: #F1F9FF;
	margin: 0;
	padding: 0 0 50px 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.discussion li {
	padding: 0.5rem;
	overflow: hidden;
	display: flex;
}
.discussion .avatar {
	width: 48px;
	position: relative;
}
.discussion .avatar img {
	display: block;
	width: 100%;
}

.other .avatar:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 5px solid white;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.self {
	justify-content: flex-end;
	align-items: flex-end;
}
.self .messages {
	order: 1;
	border-bottom-right-radius: 0;
}
.self .avatar {
	order: 2;
}
.self .avatar:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 5px solid white;
	border-right-color: transparent;
	border-top-color: transparent;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.messages {
	background: white;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 200px;
}
.messages p {
	font-size: 0.8rem;
	margin: 0 0 0.2rem 0;
}
.messages time {
	font-size: 0.7rem;
	color: #ccc;
}